:root {
    --primary-color: #2b3fd4;
    --sidebar-width: 250px;
}
body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

.img {
    background-color: red;
    width: 80%;
    height: 300px;
    background-image: url("./img/1.jpg");
    background-repeat: center;
    background-position: 50%;
    background-size: cover;
}

.brand-logo {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}




.navbar-brand {
    font-weight: 800;
    letter-spacing: -1px;
    color: var(--primary-color) !important;
}

.search-bar {
    border-radius: 20px;
    background: #fff;
}

.stat-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.order-status {
    font-size: 0.8rem;
    padding: 5px 12px;
    border-radius: 20px;
}
.bg-img{
    padding: 100px;
    width: 100%;
    height: 100%;
    background-image: url("./img/2.jpg");
    background-position: center;
    background-size: cover;
}
.text1{
    color:#fff;
}
.text-info a{
    text-decoration: none;
}